header{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width:auto;
    height: 50px;
}

.name{
    background-color: #4aaaa5;
    float: left;
}

.links{
    float:right;
}

